@charset "UTF-8";
/*======================
				色
				レイアウト幅
				階層
				余白
				ヘッダー高さ
				フォント
				ブレークポイント
				メディアクエリー
				セクション
				セクションタイトル
				インナー
				非表示
========================*/
.sec {
  padding-top: 100px;
  padding-bottom: 120px;
}

@media (max-width: 1247px) {
  .sec {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 767px) {
  .sec {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

a:hover {
  opacity: 0.7;
}

.section-ttl {
  font-size: 38px;
  font-weight: 700;
  padding: 0 0 28px;
  text-align: center;
  line-height: 1;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  height: inherit;
}

@media (max-width: 1247px) {
  .inner {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1200px) {
  .hidden-pc {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1247px) {
  .hidden-tab {
    display: none;
  }
}

@media (max-width: 767px) {
  .hidden-sp {
    display: none;
  }
}

/*==========================
        import
============================*/
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  height: 100px;
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
  .header {
    height: 50px;
  }
}

.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header ul li {
  margin-right: 28px;
}

.header ul li:last-child {
  margin-right: 0px;
}

.header ul li a {
  text-decoration: none;
  color: #3f51b5;
  font-size: 16px;
  font-family: "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  position: relative;
}

.header ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: #e81919;
  opacity: 0;
}

.header ul li a:hover::after {
  opacity: 1;
}

@media (max-width: 767px) {
  .header ul {
    display: none;
  }
}

.drawer-icon {
  display: none;
  position: fixed;
  right: 100px;
  top: 15px;
  z-index: 41;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 0;
}

.drawer-icon.is-checked {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-bars {
  display: inline-block;
  width: 22px;
  height: 20px;
  position: relative;
  vertical-align: bottom;
}

.drawer-bar {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  background: #3f51b5;
  width: 100%;
  height: 4px;
  border-radius: 0;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.drawer-bar:nth-of-type(1) {
  top: 0;
}

.drawer-bar:nth-of-type(2) {
  top: 8px;
}

.drawer-bar:nth-of-type(3) {
  top: 16px;
}

.is-checked .drawer-bar:nth-of-type(1) {
  top: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.is-checked .drawer-bar:nth-of-type(2) {
  background: transparent;
}

.is-checked .drawer-bar:nth-of-type(3) {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.drawer-background {
  display: none;
  position: fixed;
  z-index: 39;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.drawer-background.is-checked {
  display: block;
  opacity: 0.8;
}

.drawer-content {
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: auto;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  z-index: 40;
  width: 200px;
  max-width: 90%;
  height: 100%;
  background: #fff;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  text-align: left;
  color: #707070;
}

.drawer-content.is-checked {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
          box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16);
}

.drawer-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.drawer-content ul li {
  border-bottom: 1px dotted #707070;
}

.drawer-content ul li a {
  text-decoration: none;
  display: block;
  position: relative;
  padding: 16px 30px 14px 20px;
  color: #707070;
}

.drawer-content ul li a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 7px;
  height: 11px;
  background: transparent url(../img/drawer-arrow-right.png) no-repeat center center/contain;
}

.mv {
  margin-top: 100px;
  width: 100%;
  background: transparent url(../img/umi.JPG) no-repeat top center/cover;
  background-color: rgba(255, 255, 255, 0.1);
  background-blend-mode: lighten;
  height: 600px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .mv {
    margin-top: 50px;
    height: 500px;
  }
}

.mv .mv-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  line-height: 1.2;
  color: #fff;
}

.mv .mv-content .mv-ttl {
  text-shadow: -4px -4px 1px #808080;
  font-size: 80px;
  font-weight: 700;
}

.mv .mv-content p {
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.button-item {
  margin-top: 30px;
}

.button03 {
  display: inline-block;
  min-width: 230px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin: 0;
  padding: 15px 16px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 3px;
}

.button03:hover {
  background-color: #fff;
  color: black;
}

.button03:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
  top: 5px;
}

.about {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.about .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1247px) {
  .about .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.about .inner .about-img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #e6dddd;
  border-radius: 7px;
}

.about .inner .about-img img {
  border-radius: 7px;
  width: 460px;
  height: 540px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 3px;
}

@media (max-width: 1247px) {
  .about .inner .about-img img {
    width: 460px;
    height: 320px;
  }
}

.about .inner .about-me {
  width: 50%;
  text-align: left;
  line-height: 1.7;
}

@media (max-width: 1247px) {
  .about .inner .about-me {
    width: 100%;
    padding: 0 20px;
  }
}

.about .inner .about-me h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 36px;
}

.about .inner .about-me h2 span {
  color: #78a9cc;
}

@media (max-width: 1247px) {
  .about .inner .about-me h2 {
    margin-top: 20px;
    text-align: center;
  }
}

.about .inner .about-me .name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 36px;
  color: black;
}

@media (max-width: 1247px) {
  .about .inner .about-me .name {
    text-align: center;
  }
}

.about .inner .about-me p {
  font-size: 18px;
  margin-bottom: 26px;
  color: #6c757d;
}

@media (max-width: 1247px) {
  .about .inner .about-me p {
    width: 100%;
  }
}

.about .inner .about-me .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about .inner .about-me .sns a {
  text-decoration: none;
}

.about .inner .about-me .sns .fab {
  font-size: 40px;
  display: inline-block;
  margin-right: 20px;
}

.about .inner .about-me .sns .fa-twitter-square {
  color: #00acee;
  text-align: right;
  display: block;
}

.about .inner .about-me .sns .fa-facebook-square {
  color: #305097;
  display: block;
}

.service {
  background-color: #efefef;
}

.service .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1247px) {
  .service .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.service .inner .service-content {
  width: 50%;
  text-align: right;
  padding: 50px;
  line-height: 1.7;
}

@media (max-width: 1247px) {
  .service .inner .service-content {
    width: 100%;
    padding: 0;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.service .inner .service-content h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 36px;
}

.service .inner .service-content .cost {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 36px;
}

.service .inner .service-content .cost span {
  color: #78a9cc;
}

.service .inner .service-content .detail {
  color: #6c757d;
  font-size: 16px;
  margin-bottom: 16px;
}

.service .inner .service-img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.service .inner .service-img img {
  width: 100%;
}

@media (max-width: 1247px) {
  .service .inner .service-img {
    margin: 0 auto;
  }
}

.skill {
  background: transparent url(../img/code.jpg) no-repeat top center/cover;
}

.skill .section-ttl {
  color: #fff;
}

.skill .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767px) {
  .skill .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.skill .skills .skill-content {
  color: #fff;
  text-align: center;
  width: calc((100% - 40px)/3);
  margin-right: 20px;
  vertical-align: top;
}

.skill .skills .skill-content:last-child {
  margin-right: 0px;
}

@media (max-width: 767px) {
  .skill .skills .skill-content {
    width: 100%;
    margin-bottom: 30px;
  }
}

.skill .skills .skill-content h3 {
  font-size: 30px;
  margin-bottom: 30px;
}

.skill .skills .skill-content i {
  font-size: 60px;
  margin-bottom: 30px;
}

.skill .skills .skill-content p {
  font-size: 16px;
  line-height: 1.7;
}

.fa-code {
  color: red;
}

.fa-js-square {
  color: #e9d44c;
}

.fa-wordpress {
  color: #207195;
}

.work p {
  color: #6c757d;
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}

.work .works {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1247px) {
  .work .works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.work .works .work-content {
  width: calc((100% - 160px)/ 3);
  margin-right: 80px;
  margin-top: 30px;
}

.work .works .work-content:nth-child(3n) {
  margin-right: 0px;
}

.work .works .work-content img {
  width: 100%;
}

@media (max-width: 1247px) {
  .work .works .work-content {
    width: 100%;
    text-align: center;
  }
}

.contact {
  background-color: #efefef;
}

.contact .contact-text {
  text-align: center;
  color: #6c757d;
  margin-bottom: 40px;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.contact-info .info {
  margin-right: 60px;
}

.contact-info .info:last-child {
  margin-right: 0px;
}

.contact-info .info .fa {
  font-size: 40px;
  color: #78a9cc;
}

.contact-info .info h3 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
}

.contact-info .info p {
  margin-top: 20px;
}

.contact-item {
  width: 100%;
  text-align: center;
}

.contact-controls {
  margin-top: 30px;
}

.contact-controls .contact-control {
  text-align: center;
  margin-bottom: 30px;
}

.contact-controls .contact-control input {
  width: 500px;
  padding: 10px 0;
  border-radius: 7px;
  overflow: hidden;
  border: none;
  font-size: 16px;
}

@media (max-width: 767px) {
  .contact-controls .contact-control input {
    width: 400px;
  }
}

.contact-controls .contact-control textarea {
  width: 500px;
  height: 200px;
  border-radius: 7px;
  overflow: hidden;
  border: none;
  font-size: 16px;
}

@media (max-width: 767px) {
  .contact-controls .contact-control textarea {
    width: 400px;
  }
}

.contact-submit .button {
  display: inline-block;
  min-width: 230px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  padding: 15px 16px;
  background: #78a9cc;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.totop {
  position: fixed;
  z-index: 1;
  right: 24px;
  bottom: 24px;
}

@media (max-width: 1247px) {
  .totop {
    right: 16px;
    bottom: 16px;
  }
}

@media (max-width: 767px) {
  .totop {
    right: 10px;
    bottom: 10px;
  }
}

.footer {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #666666 0%, #333333 100%) 0% 0% no-repeat padding-box;
  padding: 40px;
}

.footer-sns {
  margin-bottom: 20px;
}

.footer-sns ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-sns ul .fab {
  font-size: 40px;
  color: #305097;
}

.footer-sns ul .fa-twitter-square {
  color: #00acee;
  margin-right: 40px;
}

.footer-copy {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}

.login-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  /* display: none;を追加してください */
  display: none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #e6ecf0;
  padding: 20px 0 40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.fa-times {
  position: absolute;
  top: 12px;
  right: 12px;
  color: rgba(128, 128, 128, 0.46);
  cursor: pointer;
}

#signup-form, #login-form {
  width: 100%;
}

#signup-form h2, #login-form h2 {
  color: #5f5d60;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#signup-form input, #login-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}
