.contact {
  background-color: #efefef;
  .contact-text {
    text-align: center;
    color: #6c757d;
    margin-bottom: 40px;
  }
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .info {
    margin-right: 60px;
    &:last-child {
      margin-right: 0px;
    }
    .fa {
      font-size: 40px;
      color: #78a9cc;
    }
    h3 {
      margin-top: 20px;
      font-size: 16px;
      font-weight: 700;
    }
    p {
      margin-top: 20px;
    }
  }
}
.contact-item{
  width: 100%;
  text-align: center;
}

.contact-controls {
  margin-top: 30px;
  .contact-control {
    text-align: center;
    margin-bottom: 30px;
    input {
      width: 500px;
      padding: 10px 0;
      border-radius: 7px;
      overflow: hidden;
      border: none;
      font-size: 16px;
      @include mq('sp'){
        width: 400px;
      }
    }
    textarea {
      width: 500px;
      height: 200px;
      border-radius: 7px;
      overflow: hidden;
      border: none;
      font-size: 16px;
      @include mq('sp'){
        width: 400px;
      }
    }
  }
}
.contact-submit {
  .button {
    display: inline-block;
    min-width: 230px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    padding: 15px 16px;
    background: #78a9cc;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
}
