.header{
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: map-get($layer, 'header');
  height: 100px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0 , 0.5);
@include mq('sp'){
  height: 50px;
}
  .inner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  ul{
    display: flex;
    align-items: center;
    li{
      margin-right: 28px;
      &:last-child{
        margin-right: 0px;
      }
      a{
        text-decoration: none;
          color: $color-main;
          font-size: 16px;
          font-family: $font-family-base;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 100%;
            height: 2px;
            background: $color-active;
            opacity: 0;
          }
          &:hover::after{
            opacity: 1;
          }
      }
    }
    @include mq('sp'){
      display: none;
    }
  }
}