.service {
  background-color: #efefef;
  .inner {
    display: flex;
    @include mq("tab") {
      flex-direction: column;
    }
    .service-content {
      width: 50%;
      text-align: right;
      padding: 50px;
      line-height: 1.7;
      @include mq("tab") {
        width: 100%;
        padding: 0;
        text-align: center;
        order: 2;
      }
      h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 36px;
      }
      .cost {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 36px;
        span {
          color: $blue;
        }
      }
      .detail {
        color: $gray;
        font-size: 16px;
        margin-bottom: 16px;
      }
    }
    .service-img {
      width: 50%;
      object-fit: cover;
      order: 1;
      img{
        width: 100%;
      }
      @include mq('tab'){
        margin: 0 auto;
      }
      
    }
  }
}
