.work {
  p {
    color: rgb(108, 117, 125);
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
  }
  .works{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include mq('tab'){
      flex-direction: column;
    }
    .work-content{
      width: calc((100% - 160px)/ 3);
      margin-right: 80px;
      margin-top: 30px;
      &:nth-child(3n){
        margin-right: 0px;
      }
      img{
        width: 100%;
        height: 160px;
        object-fit: cover;
      }
      @include mq('tab'){
      width: 100%;
      text-align: center;
    }
    }
  }
}
