@charset "UTF-8";

/*======================
				色
				レイアウト幅
				階層
				余白
				ヘッダー高さ
				フォント
				ブレークポイント
				メディアクエリー
				セクション
				セクションタイトル
				インナー
				非表示
========================*/
// 色
$color-main: #3f51b5; // ベース色
$blue:rgb(120,169,204);
$gray:#6c757d;
$color-active: #e81919; // アクティブ色
$color-background-base: #fff; // 背景色
$color-text-base: #333; // テキスト色
$hover-opacity: 0.6; // 透過度

// レイアウト幅
$layout-width-canvas: 1280px;
$layout-width-inner: 1200px;

// 階層
$layer: (
  modal: 100,
  // モダール
  drawer: 40,
  // ドロワー
  floating: 30,
  // フローティングアイテム
  header: 20,
  // ヘッダー
  footer: 10,
  // フッター
  default: 1,
);

// 余白
$padding-pc: 24px;
$padding-tab: 24px;
$padding-sp: 16px;

// ヘッダー高さ
$header-height-pc: 100px;
$header-height-sp: 60px;



// フォント
$font-family-default: "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro",
  "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic",
  sans-serif; // 標準フォント
$font-family-english: sans-serif;
$font-family-base: $font-family-default;
$font-size-base: 16px;
$font-weight-base: 400;
$line-height-base: 1.6;

// ブレークポイント
$breakpoints: (
  "sp": "(max-width: 767px)",
  "tab-only":
    "(min-width: 768px) and (max-width: #{$layout-width-inner + $padding-pc * 2 - 1px})",
  "tab": "(max-width: #{$layout-width-inner + $padding-pc * 2 - 1px})",
  "pc": "(min-width: #{$layout-width-inner})",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// セクション
.sec{
  padding-top: 100px;
	padding-bottom: 120px;
	
	@include mq('tab') {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include mq('sp') {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
a:hover{
  opacity: 0.7;
}

// セクションタイトル
.section-ttl {
	font-size: 38px;
	font-weight: 700;
	padding: 0 0 28px;
	// position: relative;
	text-align: center;
	line-height: 1;

	// &::after {
	// 	content: "";
	// 	background: $color-main;
	// 	width: 60px;
	// 	height: 4px;
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 50%;
	// 	transform: translateX(-50%);

	// 	@include mq('sp') {
	// 		width: 48px;
	// 	}
	// }

	// @include mq('tab') {
	// 	font-size: 50px;
	// 	padding-bottom: 28px;
	// }

	// @include mq('sp') {
	// 	font-size: 42px;
	// 	padding-bottom: 16px;
	// }
}
// インナー
.inner {
	width: $layout-width-inner;
	max-width: 100%;
	margin: 0 auto;
	height: inherit;

	@include mq('tab') {
		padding-left: $padding-tab;
		padding-right: $padding-tab;
	}

	@include mq('sp') {
		padding-left: $padding-sp;
		padding-right: $padding-sp;
	}
}

// 非表示
// PCだけ非表示
.hidden-pc {
	@include mq('pc') {
		display: none;
	}
}

// タブレットだけ非表示
.hidden-tab {
	@include mq('tab-only') {
		display: none;
	}
}

// スマホだけ非表示
.hidden-sp {
	@include mq('sp') {
		display: none;
	}
}

/*==========================
        import
============================*/
@import "_header";
@import "_drawer.scss";
@import "_mv.scss";
@import "_about.scss";
@import "_service.scss";
@import "_skill.scss";
@import "_work.scss";
@import "_contact.scss";
@import "_footer.scss";
@import "_modal.scss";
